<nav> 
    <ul>
        <li><a href="index.html">Home</a></li>
        <!-- do the same for the other nav bar items and link to corresponding html-->
        <li><a href="index.html">Multiple Choice</a></li>
        <li><a href="/leaderboard.html">Leaderboard</a></li>
        <li id="nav-auth">
            <a href="/login.html">Login</a>
        </li>
    </ul>

    <div class="accessibility-icon">♿</div>
    <div id="accessibility-menu" class="hidden">
        <label>
            <input type="checkbox" id="high-contrast-toggle"> High Contrast
        </label>
        <label>
            <input type="checkbox" id="large-text-toggle"> Large Text
        </label>
    </div>
</nav>
