body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #403D39; /* site background color */
}

nav ul {
    list-style: none;
    background: #252422; /* nav background color */
    padding: 10px;
    display: flex;
    justify-content: center;
}
  
nav ul li {
    margin: 0 15px;
    display: inline-block;
    font-size: 20px;
}

nav ul li a {
    color: #CCC5B9; /* nav text color */
    text-decoration: none;
}
.accessibility-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    background: #3E6E91; /* icon background color */
    color: #57B8FF; /* icon color */
    padding: 10px;
    border-radius: 50%;
}

.hidden {
    display: none !important; /* Ensure it hides when applied */
}

#accessibility-menu {
    display: block; /* Default: Make sure it's visible initially */
    position: fixed;
    top: 50px;
    right: 10px;
    background: #CCC5B9; /* menu background color */
    padding: 10px;
    border: 1px solid #ccc; /* menu border color */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.hero {
    padding: 50px;
    background: #252422; /* hero background color */
    color: #FFFCF2; /* hero text color */
}
.cta-button {
    background: #3E6E91; /* button background color */
    color: #CCC5B9; /* button text color */
    padding: 10px 20px;
    text-decoration: none;
    color: black; /* button text color */
    font-weight: bold;
    border-radius: 5px;
}
.quiz-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.quiz-card {
    background: #CCC5B9; /* card background color */
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
